html > body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #212121;
}

main {
  flex: 1 0 auto;
}

.navbar {
  background-color: #212121;
  font-family: "Amatic";
  text-decoration: none;
}

div.col.s4 {
  padding: 9px;
}

.card.hoverable {
  background-color: #212121;
}

.card-image {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 15%;
}

.card-image:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
  opacity: 100%;
}

span.card-title,
.card-content,
.card-action {
  align-items: center;
  text-align: center;
}

.card-content {
  font-size: 1.25rem;
}

div.card-header,
div.card-body,
div.card-panel {
  background-color: #212121;
}

#contactInfo {
  padding: 10px;
  text-align: center;
}

#icon {
  font-size: 40px;
  padding-right: 20px;
  color: #e9897e;
}

header > h2 {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-left: 250px;
  margin-top: -30px;
  margin-bottom: 30px;
}

header > h1 {
  font-family: "Homemade Apple", cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 60px;
  color: #d2386c;
}

h1 {
  font-family: "Homemade Apple", cursive;
  font-size: 60px;
  text-align: center;
  color: #d2386c;
}

header,
div#root {
  background-color: #212121;
}

a {
  font-family: "Zen Loop";
  text-decoration: none;
}

nav > div > a {
  font-family: "Zen Loop", cursive;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: none;
  color: #e9897e;
}

i {
  text-decoration: none;
  font-size: 50px;
}

p {
  font-family: "Roboto Condensed";
  color: #c5e1a5;
  font-size: large;
  text-decoration: none;
  text-align: center;
}

.page-footer {
  background-color: #212121;
}

#contactInfo {
  font-family: "Zen Loop", cursive;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: none;
}

#pic {
  border-radius: 500px;
}
